.profiling-container {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
  label {
    display: block;
    font-weight: bold;
    text-align: center;
  }

  button {
    background-color: #778da9;
    color: #e0e1dd;
    margin-top: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  #monthlyIncome{
    text-align: center;
    margin:0 20px;
    width: 70%;
   
  }
  .transfer-btn {
    margin-top: 7px;
  }
  .distrib {
    position: relative;
    bottom: -101px;
  }
#dist{
margin-top: -90px;}
  h6 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px; /* Adjusted margin bottom */
    transition-timing-function: ease-in-out;
    transition: 5s;
    text-align: center;
  }
  
  h6:hover {
    font-size: 16px;
  }
  /* #dist{
    margin-top: 50px;
  } */
  #percen {
    position: absolute;
    bottom: 80px; /* Adjusted bottom position */
  }
  
  #percen1 {
    position: absolute;
    bottom: 60px; /* Adjusted bottom position */
  }
  
  #percen2 {
    position: absolute;
    bottom: 40px; /* Adjusted bottom position */
  }
  
  .percen span {
    font-weight: bold;
  }
  
  label {
    margin-bottom: 5px;
    margin-top: 5px;
  }