.Intro{
    height: 300px;
    position: relative;
}
.slogan{
  color:#778da9 ;
  margin-bottom: 40px;
  margin-top: -20px;
  position: absolute;
  top: 90px;
}

h1{
    position: absolute;
    top: -15px;
}
p{
position: absolute;
bottom: 55px;    
}
.loader {
    position: absolute;
    top: calc(-15% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #7ea1f4;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #778da9;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #3CAEA3;
  }
  /* /* #e0e1dd, #778da9 , #e0e1dd  #778da9 #3CAEA3, #FF4242  */
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  
@media screen and (max-width: 768px) {
    .slogan {
      font-size: 24px;
      top: 33%;

    }
    
    p {
      font-size: 12px;
      bottom: -10px;
    }
  }
    
@media screen and (max-width: 220px) {
    .slogan {
  visibility: hidden;
      
    }}
    @media screen and (max-width: 150px) {
        h1 {
     top: -35px;}
     p {
        font-size: 12px;
        bottom: -30px;
      }
    }